body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 25%;
    height: 25%;
    box-sizing: border-box;
}

